.header{
    height:60px;
    display:flex;
    align-items: center;

    top:0;
    z-index:10;
   
    background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
    box-shadow: 3px 4px 5px rgb(0 0 0 / 50%);
   

}
.header_logo{
    margin-left: 20px;
}
.home_link{
    color:#ff9010;
    text-decoration: none;
}


.search_icon{
    margin-left: 0px;

    padding:0px;
    height:50px !important;
    width: 50px !important;
    color: #ff9010;
}
.header_search{
    display:flex;
    flex:1;
    align-items: center;
    border-radius: 0px;
}
.search{
    height:12px;
    padding:10px;
    border: none;
    width:100%;
    margin-left:10px;
    margin-right: 0px;

}
.header_options{
    display:flex;
    flex-direction:column;
    margin-left:20px;
    margin-right:10px;
    color:rgb(0, 0, 0) !important;
    text-decoration: none !important;

}
.header_options:hover{
    cursor:pointer;
    
}
.header_nav{
    display:flex;
    justify-content: space-evenly;

}
.opt1{
    font-size: 13px;

}
.opt2{
    font-size: 18px;
    font-weight: 500;
}
.shopping_basket{
    display:flex;
    align-items: center;
    color:white;
    
}
