
.class-block{
    
    align-items: center;
    border-radius: 5px;
    margin-top:30px;
   
}
.students-block{

    align-items: center;
    border-radius: 5px;
    margin-top:30px;
}
.tutors-block{
   
    align-items: center;
    border-radius: 5px;
    margin-top:30px; 
}

.single-item{
    background-color: rgb(208, 219, 210);
    margin:20px;

}
.drop-down{
    margin:20px;
    background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
    border-radius: 5px;
    height:40px;
    font-size: large;
}
.btn-delete{
    background-color: rgb(247, 85, 85);
    border-radius: 5px;
}


.add-student-inpu{
    height:50px;
    border-radius: 5px;
    


}
.add-std-bt{
    
    
  
        border-radius: 5px;
        outline: none;
        border: none;
        background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
        background-size: 200%;
        font-size: 1.2rem;
        color: rgb(11, 11, 11);
        cursor: pointer;
        transition: .5s;
    
        
    
    }
.add-std-for{
    display: flex;
    align-items: baseline;
    padding:30px;
    
}
