.delete-std-btn{
    background-color: rgb(232, 226, 226);
    border-radius: 5px;
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;

}
.delete-btn{
    background-color: rgb(208, 120, 120);
    border-radius: 5px;
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
    border-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    margin-top: 20px;
}

.students-list{
    background-color: aliceblue;
    border-radius: 5px;
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 20px;
    padding-bottom: 20px;
}

.invisible{
 display:none;

}
.visible{
    overflow: scroll;
}

.Ecard{
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}
.l2{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 margin-right: 20px;
}
.Ebox{
    margin-left: 20px;
    margin-bottom: 20px;
    border-color: #6fa6e6;
    padding: 2px;

}
.Edit-text{
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
    color: #21cbd1;    
}
.ecbtn{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 6px;
    border-style: none;
    border-radius: 3px;
    font-size: large;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
    background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
}

.RemoveCard{
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}
